@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-pale-blue: 225, 100%, 94%;
    --primary-bright-blue: 245, 75%, 52%;

    --neutral-very-pale-blue: 225, 100%, 98%;
    --neutral-desaturated-blue: 224, 23%, 55%;
    --neutral-dark-blue: 223, 47%, 23%;
  }
}
